<div id="container">
    <div id="link-group">
        <div class="link-button">
            <div class="center">
                <div>
                    <img style="width:48px" src="https://pbs.twimg.com/profile_images/1363210545118150659/Uo-XiGtv_400x400.jpg">
                </div>
                <div class="title">
                    <span style="font-size: 20px;">Shiba Inu</span>
                </div>
            </div>
        </div>
        <a routerLink='/feed'>
            <div class="link-button">
                <div class="center">
                    <div>
                        <img src="assets/home.svg">
                    </div>
                    <div class="title">
                        Feed
                    </div>
                </div>
            </div>
        </a>
        <a routerLink='/profile'>
            <div class="link-button">
                <div class="center">
                    <div>
                        <img src="assets/profile.svg">
                    </div>
                    <div class="title">
                        Profile
                    </div>
                </div>
            </div>
        </a>
        <a routerLink='/find'>
            <div class="link-button">
                <div class="center">
                    <div>
                        <img src="assets/find.svg">
                    </div>
                    <div class="title">
                        Find
                    </div>
                </div>
            </div>
        </a>
        <a routerLink='/about'>
            <div class="link-button">
                <div class="center">
                    <div>
                        <img src="assets/about.svg">
                    </div>
                    <div class="title">
                        About
                    </div>
                </div>
            </div>
        </a>
        <div class="link-button" (click)="logOut()" style="cursor: pointer;color:indigo;">
            <div class="center">
                <div>
                    <img src="assets/logout.svg">
                </div>
                <div class="title">
                    Logout
                </div>
            </div>
        </div>
    </div>
</div>