<div id="container">
    <div>
        <h2>
            Chipper is a project made by Hadekha Erfadila Fitra, this twitter-like project is made
            for educational purposes.
        </h2>
        <h2>
            This website implements / uses:
            <ul>
                <li><h4>angular as typescript front-end framework</h4></li>
                <li><h4>golang as backend language</h4></li>
                <li><h4>firestore as database as services</h4></li>
                <li><h4>WEBSOCKET to establish realtime connection</h4></li>
                <li><h4>implements concurrency pattern to handle multi connection and realtime comm</h4></li>
                <li><h4>ngrx/store and ngrx/effects which is redux-like state management for angular</h4></li>
                <li><h4>json web token as authentication method</h4></li>
                <li><h4>email verification</h4></li>
            </ul>
        </h2>
        <h2>
            special thanks to :
            <ul>
                <li><h4>God, Family, Friends</h4></li>
                <li><h4>google, for angular, golang and firestore</h4></li>
                <li><h4>flaticon.com for free icons</h4></li>
                <li><h4>heroku</h4></li>
                <li><h4>https://github.com/ngrx</h4></li>
                <li><h4>https://github.com/joho/godotenv</h4></li>
                <li><h4>https://github.com/gorilla/mux & https://github.com/gorilla/websocket</h4></li>
                <li><h4>https://github.com/dgrijalva/jwt-go</h4></li>
            </ul>
        </h2>
    </div>
</div>