<mat-card>
    <mat-card-header>
      <div mat-card-avatar style="background-size: cover;" [ngStyle]="{'background-image': 'url(' + chirp.AvatarURL + ')'}"></div>
      <mat-card-title style="cursor: pointer;" (click)="goToProfile()">{{chirp.Username}}</mat-card-title>
      <mat-card-subtitle>{{chirp.Date}}</mat-card-subtitle>
    </mat-card-header>
    <div id="imgheader" *ngIf="chirp.ImageURL">
      <img [src]="chirp.ImageURL">
    </div>
    <mat-card-content>
      <p>
        {{chirp.Text}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button>RECHIRP</button>
      <button mat-stroked-button (click)="goComment()">COMMENT</button>
    </mat-card-actions>
</mat-card>