#top {
    position:fixed;
    width:100%;
    z-index:5;
    top:0;
    height:40px;
}

#mid {
    width:700px;
    margin:0 auto;
    margin-top:40px;
}

#left {
    position:fixed;
    left:0;
    top:40px;
    z-index:5;
    height:100%;
    background-color: white;
}

@media only screen and (max-width:1000px){
    #mid{
        width: 100%;
    }
}