mat-card {
    background-color: whitesmoke;
    margin-top:15px;
}

#imgheader {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

#imgheader img{
    width: 100%;
    overflow-y: hidden;
}

mat-card-content {
    padding-top:10px;
}