<div id="container">
    <mat-card id="card">
        <mat-card-title id="register-title">Register</mat-card-title>
        <form>
            <div id="register-input">
                <mat-form-field>
                    <input matInput placeholder="username">
                </mat-form-field>
    
                <mat-form-field>
                    <input matInput placeholder="password" type="password">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="email" type="email">
                </mat-form-field>

            </div>
            <div id="button-group">
                <button mat-raised-button color="accent">register</button>
                <a routerLink='/login' style="text-decoration: none;"><button mat-stroked-button color="primary">login</button></a>
            </div>
        </form>
    </mat-card>
</div>