<div id="container">
    <mat-card id="card">
        <mat-card-title id="register-title">Register</mat-card-title>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div id="register-input">
                <mat-form-field>
                    <input matInput placeholder="Username" formControlName="Username">
                </mat-form-field>
    
                <mat-form-field>
                    <input matInput placeholder="Password" type="password" formControlName="Password">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Email" type="email" formControlName="Email">
                </mat-form-field>

                <div>
                    <button [disabled]="this.registerForm.get('Email').invalid || this.verifSent" mat-button type="button" style="width: 100%;" (click)="sendCode()">send Code</button>
                </div>

                <mat-form-field>
                    <input matInput placeholder="Code verification" type="text" formControlName="Code">
                </mat-form-field>

            </div>
            <div id="button-group">
                <button mat-raised-button color="accent" type="submit" [disabled]="this.registerForm.invalid">register</button>
                <a routerLink='/login' style="text-decoration: none;"><button mat-stroked-button color="primary">login</button></a>
            </div>
        </form>
    </mat-card>
</div>