<div id="container">
    <div id="post">
        <div id="post-wrapper">
            <form>
                <mat-form-field>
                    <input matInput placeholder="who you're looking for ?..">
                </mat-form-field>
                <div id="button-group">
                    <button mat-raised-button color="primary">find</button>
                </div>
            </form>
        </div>
    </div>
    <app-user></app-user>
    <app-user></app-user>
    <app-user></app-user>
</div>