#container {
    background-color: white;
}

#logo {
    text-align: center;
}

#hamburger {
    position: absolute;
    display: none;
    justify-content: center;
    padding:10px;
    left:0;
}

#hamburger img{
    display: block;
    width:20px;
    cursor:pointer;
}

#center {
    display: flex;
    justify-content: center;
    height: 40px;
}

#logo-icon img{
    display: block;
    width: 24px;
}

#logo-icon {
    display: flex;
    align-content: center;
}

#title {
    display: flex;
    align-items: center;
    font-weight: bold;
    color:indigo;
    padding-left:5px;
    padding-right: 5px;
    font-size:16px;
}

@media only screen and (max-width:1000px){
    #hamburger{
        display: flex;
    }
}