<div id="container">
    <mat-card>
        <div id="top">
            <div id="avatar">
                <img style="border-radius: 10%;" [src]="AvatarURL">
            </div>
            <div>
                <div id="nick">
                    <div>
                        <h1>{{Username}}</h1>
                        <h4>{{Desc}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div id="stats">
            <div class="stat">
                <h3 style="cursor: pointer;"> {{FollowerCount}} Followers</h3>
            </div>
            <div class="stat">
                <h3 style="cursor: pointer;">{{FollowingCount}} Following</h3>
            </div>
        </div>
        <div id="button-group">
            <button mat-raised-button color="primary">Follow {{Username}}</button>
        </div>
    </mat-card>
    <app-chirp *ngFor="let chirp of Feed" [chirp]="chirp"></app-chirp>
</div>