.settingdiv {
    padding-bottom:15px;
}

.settingdiv mat-card{
    background-color: whitesmoke;
}

#ava {
    display: flex;
    justify-content: center;
    padding:10px;
}

#ava img {
    overflow-y: hidden;
    width:50%
}

