<div id="container">
    <div id="post">
        <div id="post-wrapper">
            <form [formGroup]="postForm" (ngSubmit)="sendChirp()">
                <mat-form-field>
                    <textarea matInput placeholder="what's happening?.." formControlName="Text"></textarea>
                </mat-form-field>
                <div id="button-group">
                    <button mat-raised-button color="primary" [disabled]="postForm.invalid">chirp</button>
                </div>
            </form>
        </div>
    </div>
    <app-chirp></app-chirp>
    <app-chirp></app-chirp>
    <app-chirp></app-chirp>
    <app-chirp></app-chirp>
</div>