#container {
    height:100%;
}

#preview {
    display: flex;
    justify-content: center;
}

#preview img{
    overflow-y: hidden;
    width:100%;
}

#post {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    background-color: whitesmoke;
    padding-bottom: 15px;
    padding-top:15px;
}

mat-form-field {
    margin-top:15px;
    width:100%;
}

#post-wrapper {
    width:85%;
}

#btn-group {
    display: flex;
    justify-content: space-between;
}